/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 24 de jan. de 2023, 18:08:12
    Author     : fbigal
*/

img{
    width: 150px;
    height: 150px;
}

#title, #subtitle, #posttitle{
    color: #555555;
}

#title{
    font-size: 40px;
    text-transform: uppercase;
}

#posttitle{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

body{
    background-color: #999999;
    font-family: Verdana;
    max-width: 900px;
    margin: 0;
    padding: 0;
}

.post{
    background-color: white;
    padding: 15px;
    border: 3px solid black;
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 15px;
    text-align: justify;
}

.postcontent{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.postimg{
    margin-bottom: 15px;
    width: 99%;
    height: 320px;
    border-radius: 10px;
}

.photo{
    border: 5px solid #555555;
    border-radius: 50%;
}

a{
    text-decoration: line-through;
    color: #555555;
}

.contato{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contato li a{
    color: blue;
    text-decoration: underline;
        
}